<h1>All Tags </h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
        <%= link_to tag.name, tag_path(tag), class: 'tag_name', id: "tag_#{tag.id}" %> 
    </li>
  <% end %>
<br>
  <h5> <i> <%= link_to "Back", root_path%><i><h5>
<br>
</ul>


    